# Contact CONFIGURATION
VITE_EMAILJS_SERVICE_ID=service_s9u9chn
VITE_EMAILJS_TEMPLATE_ID=template_8totse4
VITE_EMAILJS_PUBLIC_KEY=bagNmPZDHo4kfgGdj

# Order CONFIGURATION
VITE_ORDER_EMAILJS_TEMPLATE_ID=emplate_7dxs87j

# RAZORPAY
VITE_RAZORPAY_KEY_ID=rzp_test_SWduLofwPvOs0i
RAZORPAY_KEY_SECRET=TKkG3OdTAuAmQgPYLRa7F1Tc
# local
# BACKEND_URL=http://localhost:8000/
# production
BACKEND_URL=https://desikadai-backend.onrender.com